<div class="ask4">
<ul>
	<li class="up"><p class="cname"><%= @ask.description %></p></li>
	<li class="profile"><%= @ask.helper %></li>
	<li class="check"><%= @ask.category %></li>
</ul>
<hr>
<%= link_to "Add another Ask", root_path %>
</div>