  <p class="lead"><% unless day_off?(dft(1)) %>Tomorrow<% else %><%= dft(1+3).capitalize %><% end %> you will think about what you need to start or grow your business (<a href="#">examples</a>).</p>
  <p>Write a few down and then ASK someone.</p>