<%= form_for(@contact) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :name, placeholder: "contact name..." %>
  </div>  
  <%= f.submit "Add to contact list", class: "btn btn-primary btn-small" %>
<% end %>