  <p><em>Think about your family, friends, and others you know.</br></br></em></p>
  <p class="lead">Jot down a few names of people you want to talk to about your business.</p>
  <p>Then call or email one <% if day_off?(dft(0)) %>on <%= dft(0+3) %><% else %>today.<% end %></p>